#rectangle {
    width: 800px;
    height: 600px;
    background-color: #050210;
    margin:30px auto;
}
#circle0 {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    transform: translate(200px, 100px);
}
#circle1 {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: linear-gradient(#fb5dad, #55fb9f,#b97aff);
    box-shadow: 30px 0px 60px 1px #55fba050,
                -30px 0px 60px 1px #55fba050,
                0px 30px 60px 1px #b87aff70,
                0px -30px 60px 1px #fb5dac70;
    animation-name: rotating-animation;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: blur(1px) opacity(90%);
}
#circle2 {
    border-radius: 50%;
    width: 350px;
    height: 350px;
    background-color: #050210;
    transform: translate(25px, 25px);
}
#circle3 {
    width: 1px;
    height: 1px;
    border-radius: 50px;
    background-color:#b97aff;
    transform: translate(175px, 175px);
    animation-name: boom-animation;
    animation-duration: 1.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}
@keyframes boom-animation {
    0% {
        transform-origin: 0 0 0;
        opacity: 10%;
    }
    100% {
        transform: scale(350,350);
        transform-origin: 0 0 0;
        opacity: 5%;
    }
}
@keyframes rotating-animation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}